* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
/* h1 {
  color: red;
  text-align: center;
  font-family: scriptorama-markdown-jf, sans-serif;
} */
/* Groupe1 */
.presentation {
  height: 15em;
  background-color: white;
  display: block;
}
.presentation img {
  height: 116px;
  width: 207px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.presentation p {
  text-align: center;
  padding: 5%;
  font-family: sofia-pro, sans-serif;
}
/* QR scan */
.qr {
  height: 30em;
}
button {
  display: flex;
  background-image: linear-gradient(
    90deg,
    #db0f4e 0%,
    #d64c7e 35%,
    #f8cbe5 100%
  );
  height: 50px;
  width: 180px;
  border-radius: 30px;
  margin: auto;
  border: 0;
}
button h3 {
  margin: auto;
  color: aliceblue;
  font-size: 25px;
}
.qr p {
  margin-top: 10%;
  font-family: sofia-pro, sans-serif;
}

/* Footer */
.footer {
  display: flex;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sofia-pro, sans-serif;
}

li img {
  margin-top: 10%;
}
