/*  VERTE  */

.poubelle-verte {
  width: 50em;
  height: 20em;
}
.poubelle-verte img {
  margin-top: 50px;
}

.poubelle-verte-text {
  width: 50em;
  height: 20em;
  background-color: wheat;
}
.poubelle-verte-text h3 {
  text-align: center;
}
.poubelle-verte-text p {
  font-size: 20px;
  padding: 2%;
}

/*  JAUNE  */

.poubelle-jaune {
  width: 50em;
  height: 20em;
}
.poubelle-jaune img {
  margin-top: 50px;
}

.poubelle-jaune-text {
  width: 50em;
  height: 20em;
  background-color: wheat;
}
.poubelle-jaune-text h3 {
  text-align: center;
}
.poubelle-jaune-text p {
  font-size: 20px;
  padding: 2%;
}

/*  GRISE  */

.poubelle-grise {
  width: 50em;
  height: 20em;
}
.poubelle-grise img {
  margin-top: 50px;
}

.poubelle-grise-text {
  width: 50em;
  height: 20em;
  background-color: wheat;
}
.poubelle-grise-text h3 {
  text-align: center;
}
.poubelle-grise-text p {
  font-size: 20px;
  padding: 2%;
}

/*  BLEU  */

.poubelle-bleu {
  width: 50em;
  height: 20em;
}
.poubelle-bleu img {
  margin-top: 50px;
}

.poubelle-bleu-text {
  width: 50em;
  height: 20em;
  background-color: wheat;
}
.poubelle-bleu-text h3 {
  text-align: center;
}
.poubelle-bleu-text p {
  font-size: 20px;
  padding: 2%;
}

/*  FOOTER  */

.footer {
  display: flex;
}
