p {
  font-family: sofia-pro, sans-serif;
  padding: 2%;
}

/*  VERTE  */

.poubelle-verte {
  height: 12em;
  display: flex;
  margin-top: 5%;
}

.poubelle-verteD {
  height: 10em;
  background-color: wheat;
}

.poubelle-verteD h3 {
  text-align: center;
}
.poubelle-verteD p {
  font-size: 18px;
  padding: 2%;
}

/*  JAUNE  */

.poubelle-jaune {
  height: 12em;
  display: flex;
  margin-top: 5%;
}

.poubelle-jauneD {
  height: 10em;
  background-color: wheat;
}
.poubelle-jauneD h3 {
  text-align: center;
}
.poubelle-jauneD p {
  font-size: 20px;
  padding: 2%;
}

/*  GRISE  */

.poubelle-grise {
  height: 12em;
  display: flex;
  margin-top: 5%;
}

.poubelle-griseD {
  height: 10em;
  background-color: wheat;
}
.poubelle-griseD h3 {
  text-align: center;
}
.poubelle-griseD p {
  font-size: 20px;
  padding: 2%;
}

/*  BLEU  */

.poubelle-bleu {
  height: 12em;
  display: flex;
  margin-top: 5%;
}

.poubelle-bleuD {
  height: 10em;
  background-color: wheat;
}
.poubelle-bleuD h3 {
  text-align: center;
}
.poubelle-bleuD p {
  font-size: 20px;
  padding: 2%;
}

/*  FOOTER  */

.footer {
  display: flex;
}
